@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Nice welcome page</p>
    <a asp-controller="Article" asp-action="Index">Article Index</a>
</div>
